<div class="row">
    <div class="col-md-7">
        <!-- add a new word -->
        <div class="col-md-8">
            <form class="form-group">
                <h1>Add a New Word</h1>
                <div class="form-group">
                    <label for="newWord">Bitte ein technisches Wort auf Deutsch eingeben:</label>
                    <input type="text" class="form-control" id="newWord" ng-model="newWord" placeholder="Neues Wort" />
                </div>
                <div class="form-group">
                    <label for="description">Englische Übersetzung:</label>
                    <input type="textarea" class="form-control" rows="3" id="description" ng-model="description" placeholder="Auf Englisch" />
                </div>
                    <!--submit button-->
                <button id="word_submit" class="btn btn-primary" ng-click="saveNewWord()" type="button">Einsenden</button>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <!-- get all words and show them on the DOM -->
        <div class="col-md-8">
            <h1>Current Words</h1>
            <div ng-repeat="word in words">
                <dl class="dl">
                    <dt>Deutsch: {{word.word}}</dt>
                    <dd>Englisch: {{word.description}}</dd>
                    <!-- remove a word -->
                    <button class="btn btn-danger" ng-click="deleteWord(word.id)">Remove Word</button>
                </dl>
            </div>
        </div>
    </div>
</div>