<!-- add a new word -->
<form>
    <h1>Add a New Word</h1>
    <label for="newWord">Bitte ein technisches Wort auf Deutsch eingeben:</label>
    <input type="text" id="newWord" ng-model="newWord" placeholder="Neues Wort" />
    <label for="description">Englische Übersetzung:</label>
    <input type="text" id="description" ng-model="description" placeholder="Auf Englisch" />
    <!--submit button-->
    <button id="word_submit" ng-click="saveNewWord()" type="button">Einsenden</button>
</form>

<!-- get all words and show them on the DOM -->
<h1>Current Words</h1>
<div ng-repeat="word in words">
<p>{{newWord}}</p>
<p>{{description}}</p>

<!--&lt;!&ndash; remove a word &ndash;&gt;-->
<!--<button ng-click="removeLocation(location.id)">Remove Location</button>-->
</div>